*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

body{
  background-color: rgb(32, 32, 32);
}

a{

  text-decoration: none;

  &:hover{
    text-decoration: underline;
    color: blue;
  }
}

hr{
  opacity: 60%;
}
